<div class="kemp-is-dash">
  <header class="kemp-is-dash__topbar">
    <div class="kemp-is-dash__title">
      <div class="kemp-is-dash__title-main">Provozní přehled</div>
      <div class="kemp-is-dash__title-sub kemp-mono">
        {{ now().dateLong }} · {{ now().time }}
      </div>
    </div>

    <div class="kemp-is-dash__spacer"></div>

    <p-button
      size="small"
      ariaLabel="Vytvořit nový záznam"
      (onClick)="createMenu.toggle($event)"
    >
      <i
        class="pi pi-plus"
        aria-hidden="true"
      ></i>
      <span>Nový</span>
      <i
        class="pi pi-chevron-down kemp-is-dash__create-caret"
        aria-hidden="true"
      ></i>
    </p-button>
    <p-menu
      #createMenu
      [model]="createMenuItems()"
      [popup]="true"
      appendTo="body"
    />
  </header>

  <div class="kemp-is-dash__body">
    <kemp-is-dash-metrics />

    <div class="kemp-is-dash__row kemp-is-dash__row--3-15">
      <kemp-is-dash-arrivals />
      <kemp-is-dash-cleaning />
      <kemp-is-dash-money />
    </div>

    <div class="kemp-is-dash__row kemp-is-dash__row--2-15">
      <kemp-is-dash-overdue />
      <kemp-is-dash-meals />
    </div>

    <div class="kemp-is-dash__row kemp-is-dash__row--2-12">
      <kemp-is-dash-events />
      <kemp-is-dash-outlook />
    </div>
  </div>
</div>
