<article class="kemp-is-submitted">
  <i
    class="pi pi-check-circle kemp-is-submitted__icon"
    aria-hidden="true"
  ></i>
  <h1 i18n="@@submitted.title">Děkujeme, vaše žádost byla odeslána</h1>
  <p i18n="@@submitted.body">
    Recepce váš požadavek brzy potvrdí a pošle vám e-mail s odkazem pro správu
    rezervace a online check-in.
  </p>
  <p i18n="@@submitted.email-hint">
    Zkontrolujte si prosím i složku se spamem.
  </p>
  <a
    routerLink="/public"
    i18n="@@submitted.back"
    >Zpět na hlavní stránku</a
  >
</article>
