@using System.Globalization
@model Infrastructure.Documents.Bills.BillStickerModel
<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="utf-8" />
  <style>
    @@page { size: 62mm 19mm; margin: 0; }
    * { box-sizing: border-box; }
    html, body { margin: 0; padding: 0; }
    body {
      width: 62mm; height: 19mm;
      padding: 1mm;
      font-family: "Helvetica", "Arial", sans-serif;
      display: flex; align-items: center;
    }
    .qr { width: 17mm; height: 17mm; }
    .info {
      flex: 1;
      padding-left: 2mm;
      font-size: 8pt;
      line-height: 1.2;
    }
    .label { font-weight: bold; }
  </style>
</head>
<body>
  <img class="qr" src="@Model.QrPngBase64" alt="" />
  <div class="info">
    <div class="label">Odjezd:</div>
    <div>@Model.CheckOutAt.ToString("d. M. yyyy", CultureInfo.GetCultureInfo("cs-CZ"))</div>
  </div>
</body>
</html>
